.display-product-wrapper {
  display: flex;
  flex: 1;
}

.product-information {
  padding: 20px 50px;
  flex: 1;
}

.product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-product-img {
  width: 100%;
  max-width: 400px;
}

.display-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-to-cart-btn {
  width: 170px;
  background: none;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 5px;
  padding: 10px 10px;
  transition: 200ms;
}

.add-to-cart-btn svg {
  width: 20px;
  height: 20px;
}

.add-to-cart-btn:hover {
  background-color: var(--blue-hover);
}

.product-variation-dropdown button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--dark-grey);
}

.product-variation-dropdown button:hover {
  background-color: var(--grey);
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background: none;
  border: none;
  color: var(--blue);
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
}