.footer {
  background-color: var(--blue);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-images-container {
  display: flex;
}

.footer-logo,
.footer-service-center,
.footer-napa-logo {
  width: auto;
  height: 70px;
}

.footer-location-link {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-location {
  width: 60px;
  height: 60px;
  fill: var(--yellow);
}

.footer-address {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-address a {
  color: var(--yellow);
  font-size: 16pt;
  text-decoration: none;
}

.footer-book-app {
  color: var(--yellow);
  font-size: 16pt;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-book-app a {
  display: flex;
  align-items: center;
}

.calendar-icon {
  width: 60px;
  height: 60px;
}

.calendar-icon-container {
  margin-right: 10px;
}

.footer-service-list {
  color: var(--white);
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
}

.footer-map {
  flex: 1;
}

.footer-open-time {
  color: var(--white);
  font-size: 16pt;
  text-align: center;
}